<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.udn.dut.cinema.port.mapper.ShowtimeMapper">
	<resultMap type="vn.udn.dut.cinema.port.domain.vo.ShowtimeVo" id="ShowtimeResult">
        <id property="id" column="id"/>
    </resultMap>
    
    <sql id="selectShowtimeVo">
    	select distinct	s.id,
			  s.tenant_id,
			  s.cinema_id,
			  s.hall_id,
			  s.movie_id,
			  c.cinema_name,
			  h.hall_name,
			  m.title as movie_name,
			  s.start_time,
			  s.end_time,
			  s.create_dept,
			  s.create_by,
			  s.create_time,
			  s.update_by,
			  s.update_time,
			  s.remark
		from showtime s left join cinema c on s.cinema_id = c.id
						left join hall h on s.hall_id = h.id
						left join movie m on s.movie_id = m.id
    </sql>
    
    
    <select id="selectPageShowtimeList" resultMap="ShowtimeResult">
    	select * from (
    		<include refid="selectShowtimeVo"/>
    		${ew.getCustomSqlSegment}
    	) a
    </select>
    
    <select id="selectShowtimeList" resultMap="ShowtimeResult">
    	select * from (
    		<include refid="selectShowtimeVo"/>
    		${ew.getCustomSqlSegment}
    	) a
    </select>
</mapper>
