<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Đăng ký tài khoản VICT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<p>Kính gửi: Ông/Bà : <span th:text="${bo.nickName}"></span>, </p>
<p>Hệ thống ePORT VICT xác nhận tài khoản <span style="font-size: 18px; color: red; font-weight: bold;" th:text="${bo.userName}"></span>  <span th:text="${type}"></span> được khởi tạo thành công với thông tin như sau:</p>
<p>Tên đăng nhập: <span style="font-size: 18px; color: red; font-weight: bold;" th:text="${bo.userName}"></span></p>
<p>Mật khẩu     : <span style="font-size: 18px; color: red; font-weight: bold;" th:text="${bo.password}"></span></p>
<p>Vui lòng truy cập vào đường link Website: <a href="https://eport.vict-vn.com"> https://eport.vict-vn.com</a> để đăng nhập và đổi mật khẩu sau lần lần đăng nhập đầu tiên </p>
<br>
<p>Trân trọng, <i>(Best Regards,)</i></p>
<br>
<div style=" color:#464e5f;font-family:Tahoma;font-size:10pt">VICT Port – ePORT Web Portal,</div>
<div style="color:#464e5f;font-family:Tahoma;font-size:10pt">Add: Số 13 Đường Bến Nghé, phường Tân Thuận Đông, quận 7, TP. Hồ Chí Minh, Việt Nam</div>
<div>
    <a href="https://eport.vict-vn.com">Website: https://eport.vict-vn.com</a>
</div>
<div>
    <a href="https://www.vict-vn.com">https://www.vict-vn.com</a>
</div>
</body>
